@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('cabeçalho.css');
@import url('grupo.css');
@import url('servicos.css');
@import url('noticias.css');
@import url('rodape.css');

:root{
    --cor-fundo: #2D2D2D;
    --cor-branca: #FFFFFF;
    --cor-cinza: #c6d6d6;
    --cor-degrade: linear-gradient(#ff8826, #ffb914);
    --cor-laranja: #F68721;
    --fonte-principal: "Montserrat", sans-serif;
}